@use "sass:map";
@use "../abstracts/grid-config" as grid;
@use "../abstracts/breakpoints" as bp;

// Generally you should not need to modify this file.

// =============================================
// Section Grid (Nested Inner Grid)
// =============================================

.section-grid {
  display: grid;
  width: 100%;
  gap: map.get(grid.$grid-gaps, sm);
  grid-template-columns: repeat(#{map.get(grid.$grid-columns, sm)}, 1fr);

  @include bp.respond-to(md) {
    gap: map.get(grid.$grid-gaps, md);
    grid-template-columns: repeat(#{map.get(grid.$grid-columns, md)}, 1fr);
  }

  @include bp.respond-to(lg) {
    gap: map.get(grid.$grid-gaps, lg);
    grid-template-columns: repeat(#{map.get(grid.$grid-columns, lg)}, 1fr);
  }
}
