@use "sass:map";
@use "../abstracts/breakpoints" as bp;

// Generally you should not need to modify this file.

// =============================================
// Base Site Grid Setup
// =============================================

.site-wrapper {
  display: grid;
  max-width: var(--site-max-width);
  margin-inline: auto;
  justify-content: center;

  grid-template-columns:
    [outer-start] minmax(0, var(--outer-margins))
    [wide-start] minmax(0, var(--main-margins))
    [main-start] minmax(0, var(--container-main-width))
    [main-end] minmax(0, var(--main-margins))
    [wide-end] minmax(0, var(--outer-margins))
    [outer-end];
}

// =============================================
// Grid Column Utilities
// =============================================
.layout-wide {
  grid-column: outer-start / outer-end;

  @include bp.respond-to(md) {
    grid-column: wide-start / wide-end;
  }
}

.layout-full {
  grid-column: outer-start / outer-end;
}

.layout-main {
  grid-column: wide-start / wide-end;

  @include bp.respond-to(md) {
    grid-column: main-start / main-end;
  }
}

.layout-breakout-left {
  grid-column: outer-start / wide-end;

  @include bp.respond-to(md) {
    grid-column: outer-start / main-end;
  }
}

.layout-breakout-right {
  grid-column: wide-start / outer-end;

  @include bp.respond-to(md) {
    grid-column: main-start / outer-end;
  }
}
