<sl-dialog label="Hello Steve!">
  <p>This is the baked-in dialog component from Shoelace.</p>
  <sl-button slot="footer" variant="primary" onclick="this.closest('sl-dialog').hide()">Close</sl-button>
</sl-dialog>

<sl-button onclick="document.querySelector('sl-dialog').show()">Open Dialog</sl-button>
