---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
  <section class="layout-wide">
    <div class="section-grid my-component">
      <div class="col-full box-outline-green">
        This is inside <code>.layout-wide</code> - max-width: 1900px
      </div>
      <div class="col-full bg-red-300">Dope</div>
      <div class="col-full bg-yellow-300">Dope</div>
      <div class="col-full bg-peach-300 text-gray-300">Dope</div>
    </div>
  </section>

  <section class="layout-main">
    <div class="section-grid">
      <div class="col-full box-outline-blue">
        This is inside <code>.layout-main</code> - max-width: 1440px
      </div>
    </div>
  </section>

  <section class="layout-full">
    <div class="section-grid">
      <div class="col-full box-outline-red">
        This is inside <code>.layout-full</code> - full-width container
      </div>
    </div>
  </section>

  <section class="layout-breakout-left">
    <div class="section-grid">
      <div class="col-full box-outline-purple">
        This breaks out to the left of <code>.layout-main</code> but still ends aligned with it.
      </div>
    </div>
  </section>

  <section class="layout-breakout-right">
    <div class="section-grid">
      <div class="col-full box-outline-orange">
        This breaks out to the right of <code>.layout-main</code> but starts aligned with it.
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .my-component {
    @include stack(16);
  }
</style>
