---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Dialog from "../components/Dialog.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />
  <sl-button onclick="document.querySelector('sl-dialog').show()"> Open Dialog </sl-button>

  <Dialog label="Hello from Shoelace!">
    <p>This dialog is pre-wired and reusable.</p>
  </Dialog>
</Layout>
