---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
  <div class="site">
    <header class="container-wide">
      <div class="section-grid demo-blue">
        <div class="col-full">Nav</div>
      </div>
    </header>

    <main class="container">
      <div class="section-grid demo-green">
        <div class="col-full">Main Content</div>
      </div>
    </main>

    <section class="container-breakout-right">
      <div class="section-grid demo-orange">
        <div class="col-full">Breakout Right</div>
      </div>
    </section>

    <section class="container-breakout-left">
      <div class="section-grid demo-blue">
        <div class="col-full">Breakout Left</div>
      </div>
    </section>

    <section class="container-breakout-both">
      <div class="section-grid demo-pink">
        <div class="col-full">Full Bleed (within 1700px)</div>
      </div>
    </section>

    <footer class="container-wide">
      <div class="section-grid demo-purple">
        <div class="col-full">Footer</div>
      </div>
    </footer>
  </div>
</Layout>

<style lang="scss"></style>
