---
const { title = "Kickstart" } = Astro.props;
import "../styles/main.scss";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body class="site site-debug">
    <slot />

    <!-- Main JS entry -->
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
