.ast-link-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--vertical {
    display: block;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &--horizontal {
    display: flex;
    gap: 1rem;

    li {
      margin-bottom: 0;
    }
  }

  + .ast-link-list {
    margin-top: 1rem;
  }
}
